#head__line{
  width: calc(100% - 80px);
  margin: 10px auto 0px;
  border-radius: 50px;
  background:  #8cb38e;
  box-shadow: inset 0 0px 15px 5px #444941;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
#nearBy img{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
#head__line h1{
  font-weight: bolder;
  font-size:4vw;
  color: #2d312780;
  background: linear-gradient(to bottom, #444941, #bdeec0, #444941);
  background-clip:text;
}
#nearBy{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  margin: 10px 30px 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#nearBy .content{
  cursor: pointer;
  padding:5px;
  margin: 10px;
  background-color: #444941;
  border-radius: 5px;
  transition: transform 0.2s ease-out;
}
#nearBy .content:hover{
  transition: transform 0.2s ease-out;
  transform: scale(1.04);
}
#nearBy .content div {
  font-style: normal;
  margin-top: 5px;
}
#nearBy .content .items{
  border-radius: 3px;
  background-color: #5F7A61;
  box-shadow: inset 0 0 3px 2px black;
  overflow: hidden;
}
#nearBy h1{
  color: #D5EEBB;
  text-align: center;
  margin: 5px 5px;
}
#nearBy span{
  display: inline-block;
  border-radius: 2px;
  width: max-content;
  background-color: #6f8d71;
  padding: 3px 5px;
  margin-left: 5px;
}
#nearBy .items div:last-child{
  margin-bottom: 5px;
}